form > *{
    border: 0;
    width: 600px;
    height: 20px;
    text-align: center;
    background-color: #d9d9d9;
}

main{
    align-items: center;
    justify-content: center; 
    text-align: center;
}
hgroup{
    text-align: center;
    color: 1e4b6b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

footer.forms{
    position: fixed;
}